# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.env
*.so

dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db
*.log

# Project specific
*.db
*.sqlite3
user_profiles.json
.user_profiles.json
/user_profiles.json